ANTHROPIC_API_BASE=
ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=
ANTHROPIC_VERSION=
GEMINI_API_BASE=
GEMINI_API_KEY=
GEMINI_MODEL=
LLM_MAX_MESSAGE_LENGTH=
LLM_MAX_TOKENS=
LLM_PROVIDER=
LLM_SYSTEM_PROMPT=
LLM_TEMPERATURE=
LLM_TIMEOUT=
OPENAI_API_BASE=
OPENAI_API_KEY=
OPENAI_COMPATIBLE_API_BASE=
OPENAI_COMPATIBLE_API_KEY=
OPENAI_COMPATIBLE_MODEL=
OPENAI_MODEL=